<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jackieloven001.nutritionapp.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jackieloven001.nutritionapp.app.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.jackieloven001.nutritionapp.app.WelcomeScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.jackieloven001.nutritionapp.WELCOMESCREEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".NewUserSettings"><intent-filter>
            <action android:name="com.jackieloven001.nutritionapp.NEWUSERSETTINGS" />
        </intent-filter></activity>

        <activity android:name=".ReturningUser"><intent-filter>
            <action android:name="com.jackieloven001.nutritionapp.RETURNINGUSER" />
        </intent-filter></activity>

        <activity android:name=".DisplaySettings"><intent-filter>
            <action android:name="com.jackieloven001.nutritionapp.DISPLAYSETTINGS" />
        </intent-filter></activity>

        <activity android:name=".PickFoods"><intent-filter>
            <action android:name="com.jackieloven001.nutritionapp.PICKFOODS" />
        </intent-filter></activity>


        <activity android:name=".SwipeFoods"><intent-filter>
            <action android:name="com.jackieloven001.nutritionapp.SWIPEFOODS" />
        </intent-filter></activity>

        <activity android:name=".DisplaySettings2"><intent-filter>
            <action android:name="com.jackieloven001.nutritionapp.DISPLAYSETTINGS2" />
        </intent-filter></activity>

    </application>

</manifest>
